{% extends "layout.html" %}

{% block title %}
    Your Account
{% endblock %}

{% block main %}
    <h1>Welcome, {{ username }} ❤</h1>
    <br>
    {% if newIncome != None %}
      <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> You updated your income to <strong>{{ newIncome | usd }}</strong>.
      </div>
    {% elif addPayer != None %}
      <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Nice!</strong> You added '<strong>{{ addPayer }}</strong>' as a payer 👍.
      </div>
    {% elif renamedPayer != None %}
      <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Cya later {{ renamedPayer[0] }} 👋</strong> You renamed '<strong>{{ renamedPayer[0] }}</strong>' to '<strong>{{ renamedPayer[1] }}</strong>'.
      </div>
    {% elif deletedPayer != None %}
      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>POOF!</strong> You deleted the payer '<strong>{{ deletedPayer }}</strong>'.
      </div>
    {% elif updatedPassword != None %}
      <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Congrats 🎉</strong> You have <strong>updated your password</strong>.
      </div>
    {% endif %}
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Income</h5>
            <p>Your income is <strong>{{ income | usd }}</strong>.</p>
            <p><a class="btn btn-primary" data-toggle="collapse" href="#collapseIncome" role="button" aria-expanded="false" aria-controls="collapseIncome">Update Income</a></p>
          </div>
          <div class="collapse" id="collapseIncome">
              <form action="/account" id="updateIncome" method="post" autocomplete="off">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm" for="income">Income Amount</label>
                    <input class="form-control form-control-sm" type="text" name="income" id="income" form='updateIncome' size="10" placeholder="$" maxlength="10" pattern="(?=.*?\d)^(([1-9]\d{0,2}(\d{3})*)|\d+)?(\.\d{1,2})?$" title="Format must be currency value without dollar sign or commas e.g. 1, 2.50, 1500.75" required>
                </div>
                <p><button type="submit" id="btnUpdateIncome" name="btnUpdateIncome" class="btn btn-success">Save Income</button></p>
              </form>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Payers</h5>
            <p>Add your partner / roommates to track expenses together 🤝</p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapsePayer" role="button" id="btnAddPayer" aria-expanded="false" aria-controls="collapsePayer">Add Payer</a>
            {% if payers %}
            <a class="btn btn-primary" data-toggle="collapse" href="#collapsePayers" role="button" id="btnManagePayers" aria-expanded="false" aria-controls="collapsePayers">Manage Payers</a>
            {% endif %}
          </div>
          <div class="collapse" id="collapsePayer">
              <form action="/account" id="addPayer" method="post" autocomplete="off">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm" for="payerName">First Name</label>
                    <!--Regex from kennytm on SO: https://stackoverflow.com/questions/2721768/regular-expression-to-match-a-name -->
                    <input class="form-control form-control-sm" type="text" name="payerName" id="payerName" form='addPayer' placeholder="e.g. Sally" pattern="^[a-zA-Z]+$" title="Please enter a first name only with letters (no spaces, special characters, or numbers)" maxlength="25" required>
                    <small class="form-text text-muted">Consider updating your income to include the new payers income as well.</small>
                </div>
                <p><button type="submit" id="btnSavePayer" name="btnSavePayer" class="btn btn-success">Save Payer</button></p>
              </form>
          </div>
          {% if payers %}
          <div class="collapse" id="collapsePayers">
            {% for payer in payers %}
              <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ payer['name'] }}</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#renameModal" data-payer="{{ payer['name'] }}">Rename</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteModal" data-payer="{{ payer['name'] }}">Delete</a>
                </div>
              </div>
              <br><br>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Password</h5>
            <p>Update your password 🔐</p>
            <p><a class="btn btn-primary" data-toggle="collapse" href="#collapsePassword" role="button" aria-expanded="false" aria-controls="collapsePassword">Change Password</a></p>
          </div>
          <div class="collapse" id="collapsePassword">
              <form action="/account" id="updatePassword" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="form-group">
                    <input class="form-control validate-register" name="currentPassword" id="currentPassword" type="password" placeholder="Current password" required
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Length must be at least 8 characters and contain minimum of one number, one lowercase letter, and one uppercase letter" onkeyup="checkMatch()">
                </div>
                <div class="form-group">
                    <input class="form-control validate-register" name="newPassword" id="newPassword" type="password" placeholder="New password" required
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Length must be at least 8 characters and contain minimum of one number, one lowercase letter, and one uppercase letter" onkeyup="checkMatch()">
                    <small class="form-text text-muted" style="margin:1rem">Your password is safe with us. We <strong>do not</strong> store plain-text passwords in our database ❤</small>
                </div>
                <p><button type="submit" id="btnUpdatePassword" name="btnUpdatePassword" class="btn btn-success">Save Password</button></p>
              </form>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Statistics</h5>
            <ul style="text-align:left">
              <li><strong>Member since</strong>: {{ stats["registerDate"] }}</li>
              <li><strong># of expenses</strong>: {{ stats["totalExpenses"] }}</li>
              <li><strong># of budgets</strong>: {{ stats["totalBudgets"] }}</li>
              <li><strong># of spend categories</strong>: {{ stats["totalCategories"] }}</li>
              <li><strong># of payers</strong>: {{ stats["totalPayers"] }}</li>
            </ul>
        </div>
      </div>
    </div>


    {% if payers %}
    <!-- Payer rename modal -->
    <div class="modal fade" id="renameModal" tabindex="-1" role="dialog" aria-labelledby="renameModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="renameModalLabel">Rename Payer</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/account" id="renamePayer" method="post">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <div class="form-group">
                <label for="oldpayer" class="col-form-label">Old Payer:</label>
                <input type="text" class="form-control" name="oldpayer" id="oldpayer" value="" form="renamePayer" readonly>
              </div>
              <div class="form-group">
                <label for="newpayer" class="col-form-label">New Payer:</label>
                <!--TODO fix regex so it cant have special chars-->
                <input type="text" class="form-control" name="newpayer" id="newpayer" form="renamePayer" placeholder="e.g. John" pattern="^([a-zA-Z0-9_\s\-]*)$" title="Please enter a name without special characters except underscores, spaces, and hyphens" maxlength="25" required>
              </div>
            </form>
            <p class="text-danger"><strong>Are you sure you want to rename this payer?</strong></p>
            <ul class="text-danger" style="text-align:left">
              <li class="text-danger small">Expense history using the old payer will be updated to the new payer</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" form="renamePayer" id="btnRenamePayer" name="btnRenamePayer">Save Changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Payer delete modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Payer</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/account" id="deletePayer" method="post">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <div class="form-group">
                <input type="hidden" class="form-control" name="delete" id="delete" value="" readonly>
              </div>
            </form>
            <p class="text-danger"><strong>Are you sure you want to delete this payer?</strong></p>
            <ul class="text-danger" style="text-align:left">
              <li class="text-danger small">The payer will no longer be selectable in Expenses</li>
              <li class="text-danger small">Expense history using the old payer will not be affected unless you update the expense and choose a new payer</li>
              <li class="text-danger small">Reports and Dashboard charts will continue to show the old payer unless you update your expense history to a new payer</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger" form="deletePayer" id="btnDeletePayer" name="btnDeletePayer">Delete Payer</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <script src="/static/js/account.js"></script>


{% endblock %}