{% extends "layout.html" %}

{% block styles %}
        <link href="/static/expenses.css" rel="stylesheet">
{% endblock %}

{% block title %}
    Add Expenses
{% endblock %}

{% block main %}
    <h1>Add Expenses</h1>
    <br>
    <div class="alert alert-dismissible alert-light">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Instructions</strong>
      <ol style="text-align:left">
        <li>Fill out the row by providing a description, category, date, amount, and payer for your expense(s)</li>
        <li>Add additional rows as needed by clicking the "New Row" button (up to 10 rows max)</li>
        <li>Select and delete rows as needed by clicking a row number in the "#" column and then clicking the "Delete Row" button</li>
        <li>Save your expense(s) by clicking the "Save" button</li>
      </ol>
    </div>
        <form action="/addexpenses" method="post" id="expenseForm">
            <div class="table-responsive-sm">
            <table id="expenseTable" class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Description</th>
                  <th scope="col">Category</th>
                  <th scope="col">Date</th>
                  <th scope="col">Payer</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td onclick="selectRow(this);">
                    1<br>
                  </td>
                  <td>
                      <textarea class="form-control-sm" name="description.1" form="expenseForm" required maxlength="200" autofocus></textarea>
                  </td>
                  <td>
                      <select id="category" class="form-control-sm" name="category.1" form="expenseForm" required>
                        {% for category in categories %}
                          <option value="{{ category['name'] }}">{{ category['name'] }}</option>
                        {% endfor %}
                      </select>
                  </td>
                  <td>
                      <input type="date" class="form-control-sm" name="date.1" form='expenseForm' required value="{{ date }}">
                  </td>
                  <td>
                      <input type="text" class="form-control-sm" name="payer.1" form='expenseForm' maxlength="35" size="10" placeholder="Self" required>
                  </td>
                  <td>
                      <!-- Modified RegEx from Gary @ StackOverflow: https://stackoverflow.com/a/16242575 -->
                      <!-- TODO: change input type from 'text' to 'number' to remove the need for regex? Look at my implementation on budgets.html and use the same thing here -->
                      <input type="text" class="form-control-sm" name="amount.1" form='expenseForm' size="10" placeholder="$" required maxlength="10" pattern="(?=.*?\d)^(([1-9]\d{0,2}(\d{3})*)|\d+)?(\.\d{1,2})?$" title="Format must be currency value without dollar sign or commas e.g. 1, 2.50, 1500.75">
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
            <br>
            <button type="button" id="btnNewRow" class="btn btn-primary" onclick="addRow();">New Row</button>
            <button type="button" id="btnDeleteRow" class="btn btn-danger" onclick="removeRow(selectedRow);" disabled>Delete Row</button>
            <button type="submit" id="btnExpense" class="btn btn-success">Save</button>
        </form>
        <br>

    <script>

    var selectedRow;
    var rowCount;

    // Add row to table
    function addRow() {
      // Append the table by adding a new row to it
      $("#expenseTable tbody").append(
        "<tr>" +
          "<td onclick='selectRow(this);'><br></td>" +
          "<td><textarea class='form-control-sm' name='description.' form='expenseForm' required maxlength='200'></textarea></td>" +
          // "<td><select class='form-control-sm' name='category." + rowCount + " required'><option value='Groceries'>Groceries</option><option value='Rent'>Rent</option><option value='Utilities'>Utilities</option><option value='Dining Out'>Dining Out</option><option value='Shopping'>Shopping</option><option value='Travel'>Travel</option><option value='Entertainment'>Entertainment</option></select></td>" +
          "<td><select class='form-control-sm' name='category.' form='expenseForm' required'>" +
          {% for category in categories %}
            "<option value='{{ category['name'] }}'>{{ category['name'] }}</option>" +
          {% endfor %}
          "</select></td>" +
          "<td><input type='date' class='form-control-sm' name='date.' form='expenseForm' required value='{{ date }}'></td>" +
          "<td><input type='text' class='form-control-sm' name='payer.' form='expenseForm' size='10' placeholder='Self' maxlength='35' required></td>" +
          "<td><input type='text' class='form-control-sm' name='amount.' form='expenseForm' size='10' placeholder='$' maxlength='10' required pattern='(?=.*?\\d)^(([1-9]\\d{0,2}(\\d{3})*)|\\d+)?(\\.\\d{1,2})?$' title='Format must be currency value without dollar sign or commas e.g. 1, 2.50, 1500.75'></td>" +
        "</tr>"
      );

      // Update row numbering, names of elements, and button availability
      rowCount = countRows();
      updateTableElements(rowCount);
      updateRowButton();

      // Lastly, focus the users attention on the new row
      $("textarea[name='description." + rowCount + "']").focus()
    }

    // Select a row from the table (so it can be deleted if the user wants to)
    function selectRow(cell) {
      let row = cell.parentNode;
      // Remove the highlight if the user clicks the same row
      if (row.className == "table-danger") {
        $("tr").removeClass("table-danger");
        $("textarea").removeClass("selected");
        $("select").removeClass("selected");
        $("input").removeClass("selected");

      // Disable the delete button
      document.getElementById("btnDeleteRow").disabled = true;
      }

      // Clear the last highlighted row and highlight the new one
      else
      {
        // Remove existing highlighted rows
        $("tr").removeClass("table-danger");
        $("textarea").removeClass("selected");
        $("select").removeClass("selected");
        $("input").removeClass("selected");

        // Highlight the selected row
        $(row).addClass("table-danger");

        // Enable the delete button if there's more than 1 row
        if (countRows() > 1) {
          document.getElementById("btnDeleteRow").disabled = false;
        }
        else {
          document.getElementById("btnDeleteRow").disabled = true;
        }


        // Set global variable to row if user wants to delete the row
        selectedRow = row;
      }
    }

    // Remove a row from the table
    function removeRow(row) {
      $(row).remove();

      // Disable the delete button
      document.getElementById("btnDeleteRow").disabled = true;

      // Update row numbering, names of elements, and button availability
      rowCount = countRows();
      updateTableElements(rowCount);
      updateRowButton();
    }

    // Counts and returns the current number of rows
    function countRows() {
      let table = document.getElementById("expenseTable");
      let rows = table.children[1].childElementCount;
      return rows;
    }

    // Update # column based on amount of rows added/removed, and update element names in table to be unique based on row count
    function updateTableElements(rowCount) {
      let table = document.getElementById("expenseTable");
      for (let i = 0; i < rowCount; i++) {
        // Update the column numbering so row numbers are understandable to user
        table.children[1].children[i].children[0].innerText = String(i + 1);

        // Update the element names so every element in a row is numbered correctly/uniquely and can be sent to server via POST
        for (let j = 0; j < 5; j++) {
          let oldName = table.children[1].children[i].children[j+1].firstElementChild.name;
          let n = oldName.indexOf(".");
          let newName = oldName.substring(0, n+1) + String(i + 1);
          table.children[1].children[i].children[j+1].firstElementChild.setAttribute('name', newName);
        }
      }
    }

    // Enables/disables the new row button - arbitrarily set to a max of 10 rows
    function updateRowButton() {
      count = countRows();
      if (count < 10) {
        // Enable the add row button
        document.getElementById("btnNewRow").disabled = false;
      }
      else {
        // Disable the add row button
        document.getElementById("btnNewRow").disabled = true;
      }
    }

    </script>
{% endblock %}