{% extends "layout.html" %}

{% block title %}
Budget Created
{% endblock %}

{% block main %}
<h1>Budget Created</h1>
<br>
<div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Well done! </strong>This budget will now appear in your <a href="/">Dashboard</a> and <a
    href="/reports">Reports</a> where you can monitor how well you're spending against your budget.
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Budget Details</h5>
        <p><strong>Name</strong>: {{ results["name"] }}</p>
        <p><strong>Year</strong>: {{ results["year"] }}</p>
        <p><strong>Amount</strong>: {{ results["amount"] | usd }}</p>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Category</th>
                <th scope="col">%</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              {% for category in results["categories"] %}
              {% set amount = (results["amount"] * category["percent"]) %}
              <tr>
                <td>{{ category["name"] }}</td>
                <td>{{ (category['percent'] * 100) | round | int }}%</td>
                <td>{{ amount | usd }}
              </tr>
              {% endfor %}
              <tr>
                <td></td>
                <td>100%</td>
                <td>{{ results["amount"] | usd }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}