{% extends "layout.html" %}

{% block styles %}
<!--Data Tables-->
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
<!--Data Tables Plugins (export buttons)-->
<link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet">
<!--Responsive Expense Tables-->
<link href="/static/css/expenses.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!--Chart.js-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<!--Data Tables-->
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<!--Data Tables Plugins (export buttons)-->
<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
{% endblock %}

{% block title %}
Reports | Budgets Overview
{% endblock %}

{% block main %}
<h1>Budgets Report</h1>
<br>

<span style="font-weight:bold;">Year:</span>
<select name="year" id="year" class="custom-select" style="width:auto;"
    onchange="window.location = '/budgetsreport/' + this.options[this.selectedIndex].value"></select>
<br><br>

{% if budgets %}
<!-- Begin Your Budgets -->
{% for budget in budgets %}
<div class="jumbotron" style="padding:2rem 1rem">
    <div class="row">
        <div class="col">
            <div class="card bg-light mb-3" style="max-width: 25rem;">
                <div class="card-header"><strong><a href="/updatebudget/{{ budget['name'] }}">{{ budget["name"]
                            }}</a></strong></div>
                <div class="card-body-dash">
                    {% set percent = ((budget["spent"] / budget["amount"]) * 100) %}
                    {% set totalBudgetAmount = (budget["amount"] | usd) %}
                    {% set totalBudgetAmount = totalBudgetAmount[:-3] %}
                    <p>You've spent {{ percent | round | int }}% of your {{ totalBudgetAmount }} budget</p>
                    <div class="chart-container" style="position: relative; height:23vh">
                        <canvas id="budgetChart.{{ loop.index - 1 }}"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            {% if budget["expenses"] %}
            <!--Table functionality courtesty of DataTables.net-->
            <table id="budgetTable_{{ loop.index }}" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Payer</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in budget["expenses"] %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ expense["description"] }}</td>
                        <td>{{ expense["category"] }}</td>
                        <td>{{ expense["expensedate"] }}</td>
                        <td>{{ expense["payer"] }}</td>
                        <td>{{ expense["amount"] | usd}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            {% else %}
            <p><strong>You have no expenses logged against this budget.</strong></p>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

<script src="/static/js/reports.js"></script>
<script>
    var budgetData = JSON.stringify({{ budgets | tojson }});
    loadBudgetData(budgetData);
</script>

{% else %}
<div class="col">
    <p>You have not created any budgets yet 😢</p>
</div>
{% endif %}

<script>
    $(document).ready(function () {
        // Get the budget year element from the form
        let years = document.getElementById("year")

        // Get the current year from users machine
        let currentYear = new Date().getFullYear();
        let selectedYear = "{{ year }}"

        // Generate allowable years to select for budget (2020 thru current year)
        for (let i = parseInt(currentYear); i >= 2020; i--) {
            // Create an option tag
            let option = document.createElement("option");
            option.innerHTML = i;
            option.value = i;
            // Set the selected year
            if (i == parseInt(selectedYear)) {
                option.selected = true;
            }
            years.appendChild(option);
        }

    });
</script>

{% endblock %}