{% extends "layout.html" %}

{% block title %}
    Manage Expenses
{% endblock %}

{% block main %}
    <h1>Manage Expenses</h1>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Add Expenses</h5>
            <p>Tracking your individual expenses helps you refine your spending habits and save money.</p>
            <a href="/addexpenses" class="btn btn-success">Add Expenses</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">View or Update Expense History</h5>
            <p>View your expense history and make changes if needed.</p>
            <a href="/expensehistory" class="btn btn-success">View or Update Expenses</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}