{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<img class="mb-4" src="/static/logo.svg" alt="" width="72" height="72">
<h1 class="h3 mb-3 font-weight-normal">Register an account</h1>
{% if username %}
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h6 class="alert-heading">Oh snap!</h6>
    The username '{{ username }}' is taken. Please try a new one.
</div>
{% endif %}
<form action="/register" method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input autocomplete="off" autofocus class="form-control validate-register" name="username" id="username"
            type="text" required pattern="^[a-zA-Z0-9]{3,16}$"
            title="Must contain between 3 and 16 characters, lower/uppcase letters and numbers only">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control validate-register" name="password" id="password" type="password" required
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
        <small class="form-text text-muted">Your password is safe with us. We <strong>do not</strong> store plain-text
            passwords in our database ❤</small>
    </div>
    <button class="btn btn-primary" id="btnRegister" type="submit">Register</button>
</form>
<br>
<p class="text-muted">Coming soon: sign-up with your Facebook/Twitter/Google account!</p>
{% endblock %}