{% extends "layout.html" %}

{% block title %}
    Update Budget
{% endblock %}

{% block main %}
    <h1>Update Budget</h1>
    <br>
    <form action="/updatebudget/{{ budget['name'] }}" id="updateBudgetForm" method="post">
        <div class="form-group">
            <label for="name" class="formLabels">Budget Name</label>
            <input type="text" class="form-control" id="name" form='updateBudgetForm' name="name" placeholder="e.g. 2020 expenses" pattern="^([a-zA-Z0-9_\s\-]*)$" title="Please enter a name without special characters except underscores, spaces, and hyphens" maxlength="45" value="{{ budget['name'] }}" required autofocus>
        </div>
        <div class="form-group">
            <label for="amount" class="formLabels">Amount (Annual)</label>
            {% set remainingBudget = (income - (budgeted - budget["amount"])) %}
            <input type="number" class="form-control" id="amount" form='updateBudgetForm' name="amount" placeholder="$" value="{{ budget['amount'] }}" required min="0.01" step="0.01" max="{{ remainingBudget }}" oninput="calculateEstimates()">
            <small class="form-text text-muted">Remaining income that is not yet budgeted: <a href="" title="Set budget amount to remaining available income" onclick="fillBudgetAmount(); return false;">{{ remainingBudget | usd }}</a></small>
            <small class="form-text text-muted"><strong>Amount breakdown:</strong></small>
            <small class="form-text text-muted" id="weekly">Weekly amount: {{ 0 | usd }}</small>
            <small class="form-text text-muted" id="monthly">Monthly amount: {{ 0 | usd }}</small>
        </div>
        <div class="form-group">
            <label class="formLabels budgetsCategoriesLabel">Spending Categories</label>
            <div class="categoriesContainer">
            {% for category in budget["categories"] %}
                <div class="custom-control custom-switch categoryRow">
                  {% if category["checked"] == True %}
                      <input type="checkbox" checked class="custom-control-input categoryLabel" id="categories.{{ loop.index }}" name="categories.{{ loop.index }}" value="{{ category['name'] }}" form='updateBudgetForm' onclick="displayCategoryAmounts(this)">
                  {% else %}
                      <input type="checkbox" class="custom-control-input categoryLabel" id="categories.{{ loop.index }}" name="categories.{{ loop.index }}" value="{{ category['name'] }}" form='updateBudgetForm' onclick="displayCategoryAmounts(this)">
                  {% endif %}
                  <label class="custom-control-label categoryLabel" for="categories.{{ loop.index }}" name="categories.{{ loop.index }}">{{ category["name"] }}</label>
                  {% if category["checked"] == True %}
                    <br>
                    <input type="number" class="form-control-sm categoryPercent" id="categoryPercent.{{ loop.index }}" name="categoryPercent.{{ loop.index }}" placeholder="%" min="1" step="1" max="100" maxlength="3" value="{{ category['amount'] }}" onpaste="return false" oninput="calculateCategories(this)" required>
                    <label class="" for="categoryPercent.{{ loop.index }}">%</label>
                    <small class="form-text text-muted"></small>
                    <br>
                  {% else %}
                    <br>
                    <input type="hidden" class="form-control-sm categoryPercent" id="categoryPercent.{{ loop.index }}" name="categoryPercent.{{ loop.index }}" placeholder="%" min="1" step="1" max="100" maxlength="3" onpaste="return false" oninput="calculateCategories(this)" readonly>
                    <label class="" for="categoryPercent.{{ loop.index }}" hidden>%</label>
                    <small class="form-text text-muted" hidden></small>
                    <br>
                  {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>
        <button type="submit" id="btnSaveBudget" class="btn btn-success" onclick="validateCategories()">Save</button>
        <p class="text-danger" id="submitAlert" hidden></p>
    </form>

    <script>

    /////////////////////////////////
    // Budget Amount Functionality
    /////////////////////////////////

    // Calculate estimates on page load to set initial amounts in the muted text, and validate categories
    $(document).ready(calculateEstimates());

    // Sets the budget amount to the remaining income that has not yet been budgeted
    function fillBudgetAmount() {
        document.getElementById('amount').value = {{ remainingBudget }};
        calculateEstimates();
    }

    // Disables the form submit button unless at least one category is selected - courtesy of Sergio on StackOverflow: https://stackoverflow.com/a/20688095
    var checkBoxes = $('.custom-control-input');
    checkBoxes.change(function () {
        $('#btnSaveBudget').prop('disabled', checkBoxes.filter(':checked').length < 1);
    });
    $('.custom-control-input').change();

    // Calculates and displayes weekly/monthly estimates for the budget amount
    function calculateEstimates() {
        let budget = document.getElementById("amount").value;
        const weekly = (budget / 52)
        const monthly = (budget / 12)
        document.getElementById("weekly").innerHTML = "Weekly amount: " + new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(weekly);
        document.getElementById("monthly").innerHTML = "Monthly amount: " + new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(monthly);
    }

    /////////////////////////////////
    // Spend Categories Functionality
    /////////////////////////////////

    // Shows or hides the spend category percentage budgets based on whether or not the user has checked a spend category
    function displayCategoryAmounts(category){
      let categoryPercentageInput = category.nextElementSibling.nextElementSibling.nextElementSibling;
      let percentageLabel = categoryPercentageInput.nextElementSibling;
      let percentageAmountLabel = percentageLabel.nextElementSibling;

      // Show the percentage input box and labeling
      if (category.checked == true) {
        categoryPercentageInput.type = "number";
        categoryPercentageInput.hidden = false;
        categoryPercentageInput.required = true;
        categoryPercentageInput.readOnly = false;
        percentageLabel.hidden = false;
        percentageAmountLabel.hidden = false;
        }
      // Hide the percentage input box and lebeling
      else {
        categoryPercentageInput.type = "hidden";
        categoryPercentageInput.hidden = true;
        categoryPercentageInput.required = false;
        categoryPercentageInput.readOnly = true;
        percentageLabel.hidden = true;
        percentageAmountLabel.hidden = true;
      }
    }

    // Prevents any numbers/chars but 0-9 to be entered into the percentage inputs (solution from Stack Overflow: https://stackoverflow.com/questions/14806200/disable-some-characters-from-input-field)
    $(function(){
      $('.categoryPercent').keypress(function(e) {
        // allowed char: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
        let allow_char = [48,49,50,51,52,53,54,55,56,57];
        // Calculate the dollar amount for the category percentage
        if(allow_char.indexOf(e.which) !== -1 ){
          return true;
        }
        else {
          return false;
        }
      });
    });

    // Calculates the dollar amount of a spend category based on the users input of percentage and displays to the user
    function calculateCategories(item) {
      let categoryBudget = document.getElementById("amount").value;
      const categoryWeekly = (categoryBudget / 52);
      const categoryMonthly = (categoryBudget / 12);
      let categoryLabel = item.nextElementSibling.nextElementSibling;

      // Only calculate the amount if user enters a percent value of 1-100
      if (item.value > 0 && item.value <= 100){
        // Show the calculations to the user
        categoryLabel.innerHTML = "Total amount: " + new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(categoryBudget * (item.value / 100)) + "<br>Weekly amount: " + new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(categoryWeekly * (item.value / 100)) + "<br>Monthly amount: " + new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(categoryMonthly * (item.value / 100));
        document.getElementById("btnSaveBudget").disabled = false;
      }
      // Display error message
      else{
        categoryLabel.innerHTML = "⚠ Enter a percentage between 1 to 100, or uncheck the category ⚠";
        document.getElementById("btnSaveBudget").disabled = true;
      }
    }

    // Validates form by checking every spend category that's been selected by the user for
    function validateCategories(){
      // Get all of the checked checkboxes and store in an array
      var allCheckBoxes = $('.custom-control-input');
      var checkBoxesChecked = [];
      for (i = 0; i < allCheckBoxes.length; i++)
      {
        let checkbox = allCheckBoxes[i];
        if (checkbox.checked)
        {
          checkBoxesChecked.push(checkbox);
        }
      }

      // Loop through all the checked checkboxes and sum up the values
      var sum = 0;
      for (i = 0; i < checkBoxesChecked.length; i++)
      {
        let percent = checkBoxesChecked[i].nextElementSibling.nextElementSibling.nextElementSibling;
        // If the field is empty automatically set it to 0
        sum += parseInt(percent.value) || 0;
      }

      // Validate that the summed percentages equals 100%. If it doesn't, prevent form submission and show message.
      var submitAlert = document.getElementById('submitAlert');
      if (sum != 100){
        submitAlert.innerHTML = "Your spend categories budgets add up to " + sum + "% and it must be equal to 100%";
        submitAlert.hidden = false;
        // Prevent the form from being submitted
        event.preventDefault();
      }
    }

    </script>

{% endblock %}